@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<ArticlesHub.Models.Article>


@{
    ViewData["Title"] = "Index";
}


@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="gallery">
    @foreach (var item in Model)
    {
        <div class="gallery-item bg-primary text-white">

            <h1 class="text-white">@Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(modelItem => item.Title)</h1>
            <hr />

           @* <h2>
                @(item.Text.Length > 50 ? Html.Raw(item.Text.Substring(0, 50) + "...")
                    : Html.Raw(item.Text))
            </h2>*@

            <h2 class ="text-white">@Html.DisplayNameFor(modelItem => item.Author) : @Html.DisplayFor(modelItem => item.Author)</h2>
            <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a>
        </div>
    }
</div>
